* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
  background-image:url(./assets/pattern.png);
}